.card{
  background-color: #00ff00;
  text-align: center;
  width: 20%;
  border: 2px solid #000;
}

#yo{
  padding: 10px;
  width: 100px;
  border: 2px solid #000;
  margin: 15px;
  box-shadow: 2px 2px 2px 2px #188b18;
}
 
h1{
  color: #fff;
  -webkit-text-stroke: 1px #000;
}